<template>
  <section class="todoapp">
    <header class="header">
      <h1>Todos</h1>
      <input type="text" class="new-todo" placeholder="Ajouter une tache" v-model="newTodo" @keyup.enter="addTodo">
    </header>
    <div class="main">
      <input class="toggle" type="checkbox" v-model="allDone">
      <ul class="todo-list">
        <li :class="{completed:todo.completed, editing:todo===editing}" class="todo" v-for="todo in filteredTodo">
          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.completed">
            <label @dblclick="editTodo(todo)">{{todo.name}}</label>
            <button @click.prevent="deleteTodo(todo)" class="destroy"></button>
          </div>
          <input @blur="doneEdit" @keyup.enter="doneEdit" @keyup.esc="cancelEdit" class="edit" type="text"
                 v-focus="todo===editing" v-model="todo.name">
        </li>
      </ul>
    </div>
    <footer class="footer" v-show="hasDone">
      <strong class="todo-count"><strong>{{remaining}}</strong> Tache a faire</strong>
      <ul class="filters">
        <li><a :class="{selected:filters==='all'}" @click.prevent="filters='all'" href="#">Toutes les taches</a></li>
        <li><a :class="{selected:filters==='todo'}" @click.prevent="filters='todo'" href="#">A faire</a></li>
        <li><a :class="{selected:filters==='done'}" @click.prevent="filters='done'" href="#">Faites</a></li>
      </ul>
      <button @click.prevent="deletedCompleted" class="clear-completed" v-show="doneTodo">Supprimer les TF</button>
    </footer>
  </section>
</template>

<script>
  import Vue from 'vue'

  export default {
    data () {
      return {
        todos: [],
        newTodo: '',
        filters: 'all',
        editing: null,
        oldTodo: ''


      }
    },
    methods: {
      editTodo (todo) {
        this.oldTodo = todo.name
        this.editing = todo
      },
      doneEdit () {
        this.editing = null
      },
      cancelEdit () {

        this.editing.name = this.oldTodo
        this.doneEdit()
      },
      deleteTodo (todo) {
        this.todos = this.todos.filter(i => i !== todo)
      },
      addTodo () {
        this.todos.push({
          name: this.newTodo,
          completed: false
        })
        this.newTodo = ''
      },
      deletedCompleted () {
        this.todos = this.todos.filter(todo => !todo.completed)
      }

    },
    computed: {

      allDone: {
        get: function () {
          return this.remaining === 0
        },
        set: function (value) {
          //console.log(value)
          this.todos.forEach(todo => {
            todo.completed = value
          })
        }
      },
      doneTodo () {
        return this.todos.filter(todo => todo.completed).length > 0
      }
      ,
      hasDone () {
        return this.todos.length > 0
      }
      ,
      remaining () {
        return this.todos.filter(todo => !todo.completed).length
      },
      filteredTodo () {
        if (this.filters === 'todo') {
          return this.todos.filter(
            todo => !todo.completed)
        } else if (this.filters === 'done') {
          return this.todos.filter(todo => todo.completed)
        }
        return this.todos
      }
    },
    directives: {
      focus (el, value) {
        if (value) {
          Vue.nextTick(function () {
            el.focus()
          })

        }
      }
    }
  }
</script>

<style src="./todos.css">

</style>
